@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");

[data-theme="dark"] {
  --bg-color: #333;
  --text-color: #f4f4f9;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

[data-theme="dark"] body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] p,
[data-theme="dark"] strong:not(.author),
[data-theme="dark"] .fa-trash,
[data-theme="dark"] .menu-button,
[data-theme="dark"] .like-item span,
[data-theme="dark"] .search-input,
[data-theme="dark"] .search-result-item span,
[data-theme="dark"] .chat-input,
[data-theme="dark"] .chats-container button,
[data-theme="dark"] .chat-item button,
[data-theme="dark"] .profile-form {
  color: inherit !important;
}

[data-theme="dark"]
  div:not(
    .input-container,
    .code,
    .profile-form .separator,
    .sidebar-bottom,
    .sidebar-bottom .sidebar-logout
  ),
[data-theme="dark"] .search-results,
[data-theme="dark"] .chat-search-results,
[data-theme="dark"] .story-modal-delete {
  background-color: var(--bg-color);
}

[data-theme="dark"] .like-list-page,
[data-theme="dark"] .like-item,
[data-theme="dark"] .comment-item,
[data-theme="dark"] .chat-item,
[data-theme="dark"] .post-container,
[data-theme="dark"] .chat-messages-container,
[data-theme="dark"] .create-post-modal-content,
[data-theme="dark"] .message-content,
[data-theme="dark"] .follow-list,
[data-theme="dark"] .follow-list li {
  background: var(--bg-color) !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] .search-result-item:hover,
[data-theme="dark"] .chat-search-result-item:hover {
  background-color: #272727;
  color: var(--text-color);
}

[data-theme="dark"] input,
[data-theme="dark"] textarea,
[data-theme="dark"] .story-modal-close,
[data-theme="dark"] .input-container input,
[data-theme="dark"] .code input {
  background-color: var(--bg-color);
  color: var(--text-color);
}

[data-theme="dark"] .modal-content .modal-cancel-button {
  color: #333 !important;
}

[data-theme="dark"] .chats-container .chat-info p .unread-text {
  color: #fff !important;
  opacity: 1 !important;
}

[data-theme="dark"] .register-form input:-webkit-autofill,
[data-theme="dark"] .register-form input:-webkit-autofill:hover,
[data-theme="dark"] .register-form input:-webkit-autofill:focus,
[data-theme="dark"] .register-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
  border: 1px solid #555 !important;
  background: var(--bg-color) !important;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex: 1;
  width: 100%;
  padding-top: 60px;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 300px;
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
    overflow: hidden;
  }

  .app-container {
    flex-direction: column;
    padding-top: 50px;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
  }

  .app-container {
    padding-top: 50px;
    width: 100%;
  }
}
